<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo</title> 
</head>
<body>
    <h1>[[${title}]]</h1>
    [[${message}]]
    <div>
        <h2>List</h2>
        <ul>
            <li th:each="todo:${todos}">[[${todo.getTitle()}]]</li>
        </ul>
    </div>
    <div>
        <h2>Create</h2>
        <form th:action="@{/todo}" th:method="POST">
            <div>
                <label for="title">Title</label>
                <input type="text" name="title" id="title">
            </div>
            <div>
                <label for="body">Body</label>
                <textarea name="body" id="body" cols="30" rows="10"></textarea>
            </div>
            <input type="submit" value="create">
        </form>
    </div>
</body>
</html>